* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-col: #111;
  --accent-col: #eaeaea;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--primary-col);
  color: var(--accent-col)
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
